.container.masthead {
  padding-right: 25px;
  padding-left: 56px;
}

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.row.content {height:auto;} 
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.mainblock {
  margin-top: 35px;
}

.aboutme {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

.sidenav {
  background-image: url("old_moon.png");
}

body {
  background-image: url("old_moon.png");
}